.App {
  text-align: center;
}

form{
  padding:20px 40px;
  width: 60%;
  margin:40px auto;
  background-color: lightgray;
}

input{
  width:60%;
  margin:20px auto;
  padding:10px 20px;
}

button{
  padding:5px 20px;
  border-radius: 5px;
  outline:none;

}

.reponse
{
   border:1px solid black;
   padding:20px 40px;
    width: 60%;
    margin:40px auto;
}


.image
{
  height:300px;
  width:500px;
}